dataset/videos/
dataset/videos_exp/
dataset/videos_neg_only/
dataset/videos_neg_static/
dataset/results/
dataset/gradcam/videos/
dataset/annotations/
dataset/metadata/metadata.csv
dataset/metadata/metadata_with_desc.csv
catboost_info/
weights/

detectron2_repo/
model=slow_r50_ds=panaf_seq_with_negatives/
model=slow_r50_ds=panaf_seq_with_negatives-epoch=001/
model=slow_r50_ds=panaf_seq_with_negatives-epoch=005/
model=slow_r50_ds=panaf_seq_with_negatives-epoch=010/
model=slow_r50_ds=panaf_seq_with_negatives-epoch=040/
model=slow_r50_ds=panaf_seq_with_negatives-epoch=100/
model=slow_r50_ds=panaf_seq_with_negatives-epoch=160/
model=slow_r50_ds=panaf_seq_with_negatives-epoch=200/
model=slow_r50_ds=panaf_seq_with_negatives-epoch=100-exp/
model=slow_r50_ds=panaf_seq_with_negatives-epoch=100-exp-true_label/
model=slow_r50_ds=panaf_seq_with_negatives-epoch=100-neg_only/
model=slow_r50_ds=panaf_seq_with_negatives-epoch=101/
model=slow_r50_ds=panaf_seq_with_negatives-epoch=103/

vision/
.vscode/

data/
*__pycache__/
*.DS_Store
*.pyth
*.pkl
*.log  
*.mp4  
*.csv    
*.pdf    
*.png    
*.jpg    
*.arrow    
*.json    
*.npz
*.pyc
*.png
