dataset/videos/
dataset/videos_exp/
dataset/videos_neg_only/
dataset/videos_neg_static/
dataset/results/
dataset/gradcam/videos/
dataset/annotations/
dataset/metadata/metadata.csv
dataset/metadata/metadata_with_desc.csv
catboost_info/
cam_videos/
cam_original/
weights/

detectron2_repo/
results/

vision/
.vscode/

data/
*__pycache__/
*.DS_Store
*.pyth
*.pkl
*.log  
*.mp4  
*.csv    
*.pdf    
*.png    
*.jpg    
*.arrow    
*.json    
*.npz
*.pyc
*.png
*.tgz
