dataset/
slowfast/
catboost_info/
weights/
detectron2_repo/
model=slow_r50_ds=panaf_seq_with_negatives/
vision/
.vscode/

data/
*__pycache__/
*.pyth
*.pkl
*.log    
*.csv    
*.pdf    
*.png    
*.jpg    
*.arrow    
*.json    
*.npz
*.pyc
*.png
